@import "https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism.css";
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .VIpgJd-ZVi9od-ORHb-OEVmcd {
  visibility: hidden !important;
} 
.skiptranslate {
  visibility: hidden !important;
} */

* {
  font-family: "Overlock", "Roboto", Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 210 8% 5%;

    --card: 180 8% 95%;
    --card-foreground: 210 8% 5%;

    --popover: 180 8% 95%;
    --popover-foreground: 210 8% 5%;

    --primary: 195 97% 12%;
    --primary-foreground: 180 9% 98%;

    --secondary: 192 11% 91%;
    --secondary-foreground: 210 8% 5%;

    --muted: 195 9% 91%;
    --muted-foreground: 194 9% 45%;

    --accent: 192 11% 91%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 9% 87%;
    --input: 200 9% 81%;
    --ring: 195 36% 72%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 40 7% 8%;
    --foreground: 60 9% 98%;

    --card: 40 7% 8%;
    --card-foreground: 60 9% 98%;

    --popover: 40 7% 8%;
    --popover-foreground: 60 9% 98%;

    --primary: 44 58% 66%;
    --primary-foreground: 0 9% 2%;

    --secondary: 40 7% 16%;
    --secondary-foreground: 60 9% 98%;

    --muted: 42 8% 24%;
    --muted-foreground: 42 8% 49%;

    --accent: 44 73% 16%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 48 8% 12%;
    --input: 45 9% 18%;
    --ring: 44 58% 40%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.mdx-container {
  font-size: 1rem; /* Increases the font size for the entire MDX content */
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.mdx-container img {
  border-radius: var(--radius);
}

/* For specific elements */
.mdx-container p {
  font-size: 1.1rem; /* Increase font size of paragraphs */
  font-weight: 700;
  color: hsl(var(--primary));
}
h1,
h2,
h3 {
  color: hsl(var(--primary)) !important;
  text-shadow: 2px 2px 4px hsl(var(--primary), 0.5);
}
p {
  color: hsl(var(--primary)) !important;
}
.mdx-container h1,
.mdx-container h2,
.mdx-container h3 {
  font-size: 2.4rem; /* Increase font size for headings */
  font-weight: 900;
}

.mdx-container pre,
.mdx-container code {
  font-size: 1rem; /* Increase font size for code blocks */
  font-weight: 700;
}

.mdx-container ul {
  padding-left: 20px;
  list-style: circle !important;
}

.mdx-container ul li {
  margin: 10px 0;
  font-size: 1.1rem;
  list-style: circle !important;
  color: hsl(var(--primary)) !important;
  font-weight: 500;
}

.mdx-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
}

.mdx-container th,
.mdx-container td {
  padding: 12px;
  border: 1px solid hsl(var(--border));
}

.mdx-container th {
  background-color: hsl(var(--muted));
  font-weight: bold;
  color: hsl(var(--muted-foreground));
}

.mdx-container tr:nth-child(even) {
  background-color: hsl(var(--accent));
}

.mdx-container tr:hover {
  background-color: hsl(var(--ring));
}
/* IGAAIeGhFnnCxBZAE5pMU9hRU9iQUJiYUEySFE0eC03RjlIRzJnRWdEZAlZAiZAmhwMWhqVUFNR2dUYXlJeFV6Y21KQW1wMXdWOFZAfQThzdGJOa0UwR0c4Wnc1eTBoVU00OXpxZA0RZATTZAOM3ZA4UXBXd1FoQ1IzdE5USVE3OHFMNFZAHawZDZD */
/* 8886910461377481 */
/* https://graph.instagram.com/8886910461377481/media?access_token=IGAAIeGhFnnCxBZAE5pMU9hRU9iQUJiYUEySFE0eC03RjlIRzJnRWdEZAlZAiZAmhwMWhqVUFNR2dUYXlJeFV6Y21KQW1wMXdWOFZAfQThzdGJOa0UwR0c4Wnc1eTBoVU00OXpxZA0RZATTZAOM3ZA4UXBXd1FoQ1IzdE5USVE3OHFMNFZAHawZDZD&fields=id,media_type,media_url,caption,permalink,thumbnail_url */

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  white-space: pre;
  font-size: 4rem;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}
.loader:before {
  content: "Loading...\Ağ“‚€oading...\Ağ“‚€ğ“¤ading...\Ağ“‚€ğ“¤ğ“ƒding...\Ağ“‚€ğ“¤ğ“ƒğ“‡³ing...\Ağ“‚€ğ“¤ğ“ƒğ“‡³ğ“‡g...\Ağ“‚€ğ“¤ğ“ƒğ“‡³ğ“‡ğ“‹´...\Ağ“‚€ğ“¤ğ“ƒğ“‡³ğ“‡ğ“‹´ğ“..\Ağ“‚€ğ“¤ğ“ƒğ“‡³ğ“‡ğ“‹´ğ“ğ“…“.\Ağ“‚€ğ“¤ğ“ƒğ“‡³ğ“‡ğ“‹´ğ“ğ“…“ğ“";
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
  color: hsl(var(--primary));
}

@keyframes l39 {
  100% {
    transform: translateY(-100%);
  }
}

.skiptranslate {
  display: none !important;
}

.input {
  @apply w-full px-4 py-3 rounded-lg bg-background text-foreground border border-slate-700 focus:border-amber-500 outline-none transition;
}

.section-title {
  @apply text-lg font-semibold text-amber-950 border-b border-amber-200 pb-1;
}

.btn-primary {
  @apply py-3 bg-gradient-to-r from-amber-600 to-amber-700 hover:from-amber-700 hover:to-amber-800 text-white font-semibold rounded-lg shadow-lg transition disabled:opacity-50;
}
