@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 210 8% 5%;

    --card: 180 8% 95%;
    --card-foreground: 210 8% 5%;

    --popover: 180 8% 95%;
    --popover-foreground: 210 8% 5%;

    --primary: 195 97% 12%;
    --primary-foreground: 180 9% 98%;

    --secondary: 192 11% 91%;
    --secondary-foreground: 210 8% 5%;

    --muted: 195 9% 91%;
    --muted-foreground: 194 9% 45%;

    --accent: 192 11% 91%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 9% 87%;
    --input: 200 9% 81%;
    --ring: 195 36% 72%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  
  .dark {
    --background: 40 7% 8%;
    --foreground: 60 9% 98%;

    --card: 40 7% 8%;
    --card-foreground: 60 9% 98%;

    --popover: 40 7% 8%;
    --popover-foreground: 60 9% 98%;

    --primary: 44 58% 66%;
    --primary-foreground: 0 9% 2%;

    --secondary: 40 7% 16%;
    --secondary-foreground: 60 9% 98%;

    --muted: 42 8% 24%;
    --muted-foreground: 42 8% 49%;

    --accent: 44 73% 16%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 48 8% 12%;
    --input: 45 9% 18%;
    --ring: 44 58% 40%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
